/* Login */
.login_container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
.login_form{
    background-color: #D9D9D9;
    width: 420px;
    height: 55vh;
    border-radius: 20px;
    box-shadow: 5px 5px;
  }
  
.login_container .login{
    color: #957979;
    font-size: 25px;
} 
.login_container .input_box{
    position: relative;
    margin: 40px 0;
    width: 98%;
    height: 50px;
  }

.input_box input{
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    border-bottom: 1px solid #000000;
    width: 300px;
}

.input_box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-110%);
    font-size: 20px;
}

.login_container .remember_forgot{
    display: flex;
    justify-content: space-around;
    font-size: 14.5px;
    margin: -15px 0 55px;
    color: #6C4B4B;
}

.remember_forgot label input{
    accent-color: black;
    margin-right: 4px;
}

.remember_forgot a{
    color: #6C4B4B;
    margin-right: 4px;
    text-decoration: none;
}
.remember_forgot a:hover{
    text-decoration: underline;
}

.login_container button{
    width: 250px;
    height: 30px;
    background-color: #FDF7F7;
    color: #D61212;
    font-weight: bold;
    border-radius: 10px;
    border-color: #FDF7F7;
    box-shadow: 0px;
    outline: none;
}

.login_container .submit{
    text-transform: uppercase;
}

.login_container .register_link{
    color: #6C4B4B;
}

.login_container .register_link a{
    color: #6C4B4B;
    margin: 10px;
    text-decoration: none;
}