/* Login */
.login_container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
.login_form{
    background-color: #D9D9D9;
    width: 420px;
    height: 50vh;
    border-radius: 20px;
    box-shadow: 5px 5px;
    
  }
  
.login_container .login{
    color: #957979;
    font-size: 25px;
}

.login_container .input_box{
    margin: -60px 0;
    margin-left: -90px;
    width: 98%;
    padding: 90px;
  }

.input_box .email_input{
    padding-bottom: 20px;
}

.input_box input {
    background: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    border-bottom: 1px solid #000000;
    width: 300px;
}

.login_container .remember_forgot{
    display: flex;
    justify-content: space-around;
    font-size: 14.5px;
    color: #6C4B4B;
    
}

.remember_forgot label input{
    accent-color: black;
    margin-right: 4px;
}

.remember_forgot a{
    color: #6C4B4B;
    margin-right: 4px;
    text-decoration: none;
}

.remember_forgot a:hover{
    text-decoration: underline;
}

.login_container button{
    width: 250px;
    height: 30px;
    background-color: #FDF7F7;
    color: #D61212;
    font-weight: bold;
    border-radius: 10px;
    border-color: #FDF7F7;
    box-shadow: 0px;
    outline: none;
    margin: 10px;
    text-transform: uppercase;
}


.login_container .register_link{
    color: #6C4B4B;
}

.login_container .register_link a{
    color: #6C4B4B;
    margin: 10px;
    text-decoration: none;
}

