.navbar_container .navbar_nav{
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  
}

.navbar_nav{
    background-color: #D3CBCB;
    align-items: center;
    width: 100%;
}
  
.navbar_ul ul li{
  text-decoration: none;
  color: yellow;
  list-style-type: none;
  text-transform: uppercase;
}

.navbar_ul ul{
  width: 90%;
}
  
.navbar_ul ul li .home_home, .about_about, .contact_contact, .login_login, .register_register{
  text-decoration: none;
  list-style-type: none;
}

.navbar_container img{
  width: 100px;
  border-radius: 50px;
}

.navbar_links li{
  margin: 10px;
  display: flex;
  align-items: center;
  /* border: 2px red solid; */
}

.navbar_links{
  display: flex;
  align-items: center;
  gap: 50px;
}
  
 